{
  "$schema": "https://json.schemastore.org/stylelintrc",
  "extends": ["stylelint-config-standard", "stylelint-config-prettier", "stylelint-config-standard-scss"],
  "rules": {
    "string-quotes": "single",
    "no-duplicate-selectors": true,
    "declaration-no-important": true,
    "selector-pseudo-element-no-unknown": null,
    "selector-disallowed-list": [
      "::ng-deep",
      {
        "message": "Seletor inesperado \"::ng-deep\""
      }
    ]
  }
}
